<div class="grid grid-cols-6 gap-8">
  <div
    *ngFor="let forecast of dailyForecast"
    class="w-full weekday-weather rounded-md p-3 bg-secondary"
  >
    <div class="weekday-title mb-4">
      <p
        class="font-barlow text-lg font-bold tracking-wide capitalize text-center text-black"
      >
        {{ forecast.date! | customizeDate : "EEE, MMMM d" }}
      </p>
    </div>

    <div class="weekday-weather-icon mb-10">
      <app-weather-icon [weatherType]="forecast.weather!"></app-weather-icon>
    </div>

    <div class="weekday-temperature-detail">
      <div class="flex flex-row justify-center">
        <p class="font-barlow text-lg tracking-wide text-black">
          {{ forecast.temp }}
        </p>
        <img
          class="w-8 h-full"
          src="assets/images/svg/dark-celcius.svg"
          alt="celcius"
        />
      </div>
    </div>
  </div>
</div>
