<div class="weather-app" *ngIf="!loader; else load">
  <div
    class="weather-app h-screen overflow-y-auto"
    style="background-color: #5e8fc7"
  >
    <div class="px-20 py-7 relative z-10">
      <div class="header-title rounded bg-neutral-50 p-5">
        <h1 class="text-7xl uppercase tracking-widest font-yeseva text-center">
          Weather Forecast
        </h1>
      </div>

      <div class="search-city mt-5">
        <div class="relative mt-2 rounded-md shadow-sm">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <span class="text-gray-500 w-4/5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </span>
          </div>
          <input
            type="text"
            name="search-city"
            id="search-city"
            class="block w-full rounded border-0 py-1.5 pl-11 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:font-comfortaa focus:ring-0 focus:ring-transparent sm:text-sm sm:leading-6"
            placeholder="Search City"
          />
          <div class="absolute inset-y-0 right-0 flex items-center">
            <button class="text-gray-500 p-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="flex items-center mt-16">
        <div class="w-4/5 temperature flex justify-end">
          <div class="flex">
            <div class="w-1/4 flex items-end">
              <div class="thermometer-icon">
                <img
                  class="w-7"
                  src="assets/images/svg/thermometer.svg"
                  alt="thermometer-icon"
                />
              </div>
            </div>

            <div class="w-full temperature-info">
              <div class="temperature-cel">
                <div class="flex">
                  <p
                    class="font-barlow font-medium text-9xl tracking-wide text-white"
                  >
                    {{ weather.main?.temp | number : "1.0-0" }}
                  </p>
                  <img
                    class="w-20 h-full"
                    src="assets/images/svg/celcius.svg"
                    alt="celcius"
                  />
                </div>
              </div>
              <div class="temperature-range">
                <p class="font-comfortaa font-bold text-xl tracking-wide mb-1">
                  Temperature
                </p>
                <p class="font-comfortaa font-bold text-xl tracking-wide">
                  {{ weather.main?.temp_max | number : "1.0-0" }}-{{
                    weather.main?.temp_min | number : "1.0-0"
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-4/5 weather-icon">
          <div class="svg-icon">
            <img
              class="w-full"
              [src]="'assets/images/svg/cloudy-lg.svg'"
              alt="weather-icon"
            />
          </div>
        </div>
        <div class="w-full weather-info ps-7">
          <div class="weather-condition mb-8">
            <p
              class="font-extrabold tracking-widest font-yeseva text-4xl uppercase text-white"
            >
              {{
                weather.weather && weather.weather.length > 0
                  ? weather.weather![0].description
                  : ""
              }}
            </p>
            <p
              class="font-comfortaa tracking-wide text-2xl capitalize text-white"
            >
              {{ today | customizeDate : "yyyy EEE, MMMM d" }}
            </p>
          </div>

          <div class="humidity-info">
            <p
              class="font-comfortaa tracking-wide font-bold text-2xl capitalize text-black"
            >
              Humidity
            </p>
            <p
              class="font-comfortaa tracking-wide font-bold text-xl text-black"
            >
              {{ weather.main?.humidity }}%
            </p>
          </div>
        </div>
      </div>

      <div class="weekly-weather-updates mt-16">
        <div class="city-title mb-5">
          <p
            class="font-yeseva tracking-widest font-bold text-3xl text-white capitalize"
          >
            {{ weather.name }}
          </p>
        </div>

        <app-weekly-weather></app-weekly-weather>
      </div>
    </div>
  </div>

  <div class="overlay-bg-1 absolute top-5 -right-52 z-0">
    <img
      class="w-96 h-96"
      src="assets/images/svg/bubble-vector-984.svg"
      alt="bubble-overlay"
    />
  </div>

  <div class="overlay-bg-2 absolute -bottom-48 -left-48">
    <img
      class="w-600 h-600"
      src="assets/images/svg/bubble-vector-984.svg"
      alt="bubble-overlay"
    />
  </div>
</div>

<ng-template #load>
  <div class="loader h-screen flex items-center justify-center">
    <app-loader></app-loader>
  </div>
</ng-template>
