// body {
//   background-color: #5e8fc7;
// }

@font-face {
  font-family: "Yeseva One Regular";
  src: url("assets/font/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa";
  src: url("assets/font/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("assets/font/BarlowCondensed/BarlowCondensed-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
